body {
  background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
  background-size: cover;
  background-position: center;
  font-family: 'Merriweather Sans', sans-serif;
}

html {
  height: 100%;
}

.box{
    background: gray;
    /* color: #fff; */
}

hr{
    border: 1px solid #fff;
}
#content {
  text-align: center;
  padding: 25%;
  color: #fff;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

